<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
<script>
  window.OneSignalDeferred = window.OneSignalDeferred || [];
  OneSignalDeferred.push(function(OneSignal) {
    OneSignal.init({
      appId: "866466e4-aa3c-4272-b0ee-cdde241bd849",
      safari_web_id: "web.onesignal.auto.55479a10-4eda-4299-901a-290da3fd1836",
      notifyButton: {
        enable: true,
      },
      allowLocalhostAsSecureOrigin: true,
    });
  });
</script>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .dashboard {
            margin-top: 50px;
        }

        .button {
            display: inline-block;
            padding: 20px 40px;
            font-size: 24px;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            margin: 20px;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="dashboard">
        <p>testing v1</p>
        <a href="/admin" class="button">Admin</a>
        <a href="/student" class="button">Student</a>
        <a href="/teacher" class="button">Teacher</a>
        <a href="/parent" class="button">Parent</a>
    </div>
</body>
</html>
